{% extends "base.html" %}

{% block title %}Homepage - SIREDO-TUS{% endblock %}

{% block content %}
    <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="text-center text-white">
                            <div class=>
                                <img src="/static/assets/img/scan.png" alt="Logo" width="100">
                            </div>
                            <h1 class="mb-5">WELCOME</h1>
                            <h5 class="mb-5">The Recommender System for Search Supervisors/Research Partner</h5>
                            <form class="form-search">
                                <div class="row">
                                    <div class="col">
                                        <input 
                                            class="form-control form-control-lg" 
                                            id="text" 
                                            type="text" 
                                            placeholder="Research Topic Input" 
                                            data-sb-validations="required,null" 
                                        />
                                        <small class="form-text text-white" style="font-style: italic">
                                            *The System as support just one word. For example with 1 topic (games) & 2 topic (games, vr)
                                        </small>
                                    </div>
                                    <div class="col-auto mt-3 mt-md-0">
                                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Search</button>
                                    </div>
                                </div>

                                <!-- Submit success message-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">
                                            https://startbootstrap.com/solution/contact-forms
                                        </a>
                                    </div>
                                </div>

                                <!-- Submit error message-->
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Error sending message!</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Icons Grid-->
        <section class="features-icons bg-light" id="resultSection" style="display: none;">
            <div class="container">
                <div class="row justify-content-start" id="cardContainer">
                    <!-- Cards will be dynamically inserted here -->
                </div>
                <div class="row mt-4" id="paginationContainer" style="display: none;">
                    <div class="col-12 text-center">
                        <button id="showMoreBtn" class="btn btn-succes">See More</button>
                    </div>
                </div>
                <pre id="hasilRekomendasi" style="white-space: pre-wrap; margin-top: 20px; display: none;"></pre>
            </div>
        </section>
        <footer class="footer bg-danger">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2025. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}